__pycache__/
*.py[cod]
/output/
/input/
!/input/example.png
/models/
/temp/
extra_model_paths.yaml
/.vs
.vscode/
.idea/
venv/
.venv/
/web/extensions/*
!/web/extensions/logging.js.example
!/web/extensions/core/
/tests-ui/data/object_info.json
/user/
*.log
web_custom_versions/
.DS_Store
custom_nodes/red_ribbon/plug_in_play_transformer/nanoGPT
custom_nodes/red_ribbon/data/
mypy_check*
custom_nodes/red_ribbon/utils_/deprecated/
.mypy_cache/
open_ai_key.zshrc
.env
notebooks
custom_nodes/red_ribbon/configs.yaml
custom_nodes/red_ribbon/configs/private_configs.yaml